.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.responseContainer {
}

.imageContainer {
}

.image {
}

.textContainer {
}

.code {
}

.text {
}

.info {
}