.parent{
    height: 30px;
}

.child {
    background-color: rgba(25, 90, 211, 0.9);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;


}
.child::before {
    background-color: rgba(255, 183, 0, 0.89);
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    content: '';
    transition: all 0.5s ease-in-out;

}
body:hover .child::before {
    transform: translate(700%,0%);

}