.tech, .developer {
    width: 25vw;
    border-top: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}


.techHeader, .developerHeader {
    width: 25vw;
    background-color: #E5E5E5;
    height: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
    margin-top: 10px;

}

.loading {
    width: 85vh;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;

}