.spanBlock {




}

.span {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    color: #0080FF;
    height: 28px;
}

.input {
    font-family: 'Montserrat', sans-serif;
    display: block;
    border: 3px solid #D1D1D1;
    border-radius: 5px;
    height: 36px;
    width: 276px;


}

.pen {
}