.greetingForm {
}

.inputAndButtonContainer {
}

.error {
    height: 20px;
    color: #cc0000;
}

.input {
}

.input:focus {
}

.errorInput {
    border: 2px solid red;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
